<div>
    <div>
        <h5>Overdue</h5>
        <span id="count-overdue">
            <%= overdue.length %>
        </span>
        <ul>
            <% overdue.forEach(todo=> { %>
                <li>
                    <input type="checkbox" <%=todo.completed ? "checked" : "" %> />
                    <%= todo.title %> (Due: <%= todo.dueDate %>)
                </li>
                <% }) %>
        </ul>
    </div>

    <div>
        <h5>Due Today</h5>
        <span id="count-due-today">
            <%= dueToday.length %>
        </span>
        <ul>
            <% dueToday.forEach(todo=> { %>
                <li>
                    <input type="checkbox" <%=todo.completed ? "checked" : "" %> />
                    <%= todo.title %>
                </li>
                <% }) %>
        </ul>
    </div>

    <div>
        <h5>Due Later</h5>
        <span id="count-due-later">
            <%= dueLater.length %>
        </span>
        <ul>
            <% dueLater.forEach(todo=> { %>
                <li>
                    <input type="checkbox" <%=todo.completed ? "checked" : "" %> />
                    <%= todo.title %> (Due: <%= todo.dueDate %>)
                </li>
                <% }) %>
        </ul>
    </div>
</div>